doctype html
html
	head
		meta(name="viewport" content="width=device-width")

		link(rel='stylesheet' href='tachyons.min.css')
		link(rel='stylesheet' href='styles.css')
		script(src='zepto.min.js')
		script(src='scripts.js')

	body(
	class="bg-light-gray"
	data-debug=!isProduction
	)

		main(
		class="mw7 pa3 center"
		)

			#new-note(
			class="cf mb5"
			)

				h2 New Note

				textarea(
				class="w-100 mb1 pa2 bn"
				placeholder="How are you doing?"
				)

				#tags-edit(class="dib w-100 w5-ns")
					button(
					class="f6 br2 ba ph3 pv2 dib black bg-light-blue pointer"
					) Tag

					div(
					contenteditable="true"
					class="dn bg-white f6 pa2 lh-copy"
					)

					#new-tags(class="dib pv2")

				button#save-note(
				class="dib fr f6 br2 ba ph3 pv2 bg-light-blue pointer"
				disabled
				) Save Note

				span#counter(
				class="fr gray pa2"
				) 140

			#notes

				h2 Saved Notes

				ol(
				class="list pl0"
				)