doctype html

html(class=isProduction?'production':'')

	head
		link(rel="manifest" href="/manifest.json")
		meta(name="viewport" content="width=device-width")

		meta(name="application-name", content="Chirip")
		meta(name="apple-mobile-web-app-title", content="Chirip")
		link(rel="shortcut icon", href="/icons/favicon.ico")
		meta(name="theme-color", content="#ffffff")
		meta(name="msapplication-config", content="/icons/browserconfig.xml")
		link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/icons/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/icons/favicon-16x16.png", sizes="16x16")
		link(rel="mask-icon", href="/icons/safari-pinned-tab.svg", color="#96ccff")

		link(rel='stylesheet' href='tachyons.min.css')
		link(rel='stylesheet' href=isProduction ? version+'.css' : 'styles.css')
		script(src='zepto.min.js')
		script(src=isProduction ? version+'.js' : 'scripts.js')

	body(class="bg-light-gray")

		main(
		class="mw7 pa3 center"
		)

			#new-note(
			class="cf mb5"
			)

				h2 New Note

				textarea(
				class="w-100 mb1 pa2 bn"
				placeholder="How are you doing?"
				)

				#tags-edit(class="dib w-100 w5-ns")
					button(
					class="f6 br2 ba ph3 pv2 dib black bg-light-blue pointer"
					) Tag

					div(
					contenteditable="true"
					class="dn bg-white f6 pa2 lh-copy"
					)

					#new-tags(class="dib pv2")

				button#save-note(
				class="dib fr f6 br2 ba ph3 pv2 bg-light-blue pointer"
				disabled
				) Save Note

				span#counter(
				class="fr gray pa2"
				) 140

			#notes

				h2 Saved Notes

				ol(
				class="list pl0"
				)