doctype html

html(class=isProduction?'production':'')

	head
		link(rel="manifest" href="/manifest.json")
		meta(name="viewport" content="width=device-width")

		meta(name="application-name", content="Chirip")
		meta(name="apple-mobile-web-app-title", content="Chirip")
		link(rel="shortcut icon", href="/icons/favicon.ico")
		meta(name="theme-color", content="#ffffff")
		meta(name="msapplication-config", content="/icons/browserconfig.xml")
		link(rel="apple-touch-icon", sizes="180x180", href="/icons/apple-touch-icon.png")
		link(rel="icon", type="image/png", href="/icons/favicon-32x32.png", sizes="32x32")
		link(rel="icon", type="image/png", href="/icons/favicon-16x16.png", sizes="16x16")
		link(rel="mask-icon", href="/icons/safari-pinned-tab.svg", color="#96ccff")

		link(rel='stylesheet' href='tachyons.min.css')
		link(rel='stylesheet' href=isProduction ? version+'.css' : 'styles.css')
		script(src='zepto.min.js')
		script(src=isProduction ? version+'.js' : 'scripts.js')

	body

		main(
		class="mw7 ph2 center"
		)

		button(
		data-role="fab"
		data-action="open-new-note-window"
		class="bw0 pointer bg-light-blue right-1 bottom-1 right-2-ns bottom-2-ns br-100 fab fixed h3 outline-0 w3"
		)
			img(src="/svg/create.svg")

		div(
		data-modal-overlay
		class="dn z-max fixed top-0 bottom-0 right-0 left-0 bg-light-blue pa2 ph3-l"
		)
			div(
			data-modal
			class="mw7 center overflow-y-auto overflow-x-hidden"
			)